* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  min-height: 100vh;
  background: linear-gradient(#6937ff 35%, #fcac8a);
  text-align: center;
  color: #e5dc15;
  font-family: "Krona One", sans-serif;
}

.grid {
  width: 90vw;
  height: 55vh;
  border: solid white 4px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 7px;
}

.grn__circle {
  background-color: green;
  border-radius: 50%;
}

.grn__square {
  background-color: green;
}

.grn__triangle {
  background-image: url(./200px-Triangle_Orange.png);
  background-size: cover;
}

.text {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.score__bar {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
  margin-bottom: 15px;
}

#start {
  color: #e5dc15;
  background-color: #6937ff;
  margin: 1rem;
  padding: 0.3rem;
  border: 2px solid #e5dc15;
  border-radius: 0.5rem;
  position: relative;
  top: 0;
  transition: all 300ms ease-in-out;
  box-shadow: 0 0.6em #c2bb11, 0 0.9em rgba(0, 0, 0, 0.4);
  width: 75px;
  font-size: 16px;
  font-weight: bold;
}

#start:hover {
  background: #e5dc15;
  color: #6937ff;
  top: -0.5em;
  box-shadow: 0 0.6em #c2bb11, 0 1.3em rgba(0, 0, 0, 0.4);
}

#start:active {
  top: 0.4em;
  box-shadow: 0 0.2em #c2bb11, 0 0.5em rgba(0, 0, 0, 0.4);
}

.difficulty {
  color: #e5dc15;
  background-color: #6937ff;
  margin: 1rem;
  padding: 0.3rem;
  border: 2px solid #e5dc15;
  border-radius: 0.5rem;
  position: relative;
  top: 0;
  transition: all 300ms ease-in-out;
  box-shadow: 0 0.6em #c2bb11, 0 0.9em rgba(0, 0, 0, 0.4);
  width: 75px;
  font-size: 14px;
  font-weight: bold;
}

.difficulty:hover {
  background: #e5dc15;
  color: #6937ff;
  top: -0.5em;
  box-shadow: 0 0.6em #c2bb11, 0 1.3em rgba(0, 0, 0, 0.4);
}

.difficulty:active {
  top: 0.4em;
  box-shadow: 0 0.2em #c2bb11, 0 0.5em rgba(0, 0, 0, 0.4);
}

#diff__display {
  margin-top: 30px;
}