* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.grid {
  width: 90vw;
  height: 60vh;
  border: solid black 2px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.square {
  border: solid red 2px;
}

.grn__circle {
    background-color: green;
    border-radius: 50%;
}

.grn__square {
    background-color: green;
}

.grn__triangle {
   background-image: url(./200px-Triangle_Orange.png); 
   background-size: cover;
}