@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  min-height: 100vh;
  background: linear-gradient(
    rgba(97, 201, 168, 1) 35%,
    rgba(105, 55, 255, 1)
  );
  text-align: center;
}

.grid {
  width: 90vw;
  height: 55vh;
  border: solid white 4px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 7px;
}

.square {
  //   border: solid red 2px;
}

.grn__circle {
  background-color: green;
  border-radius: 50%;
}

.grn__square {
  background-color: green;
}

.grn__triangle {
  background-image: url(./200px-Triangle_Orange.png);
  background-size: cover;
}

.score__bar {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 15px;
}

#start {
  @include btn-1;
  width: 70px;
  font-size: 16px;
  font-weight: bold;
}
#start:hover {
  @include btn-hover;
}
#start:active {
  @include btn-active;
}

.difficulty {
  @include btn-1;
  width: 70px;
  font-size: 16px;
  font-weight: bold;
}
.difficulty:hover {
  @include btn-hover;
}
.difficulty:active {
  @include btn-active;
}
